    <div class="flex-cont-body">
        <div id="divlogo">
            <h3>Husse.ro</h3>
            <span id="animated-icon">
                <i class="fas fa-cog fa-spin"></i>
            </span>
        </div>
    
        <div id="section-title">
            <p id="p-title">Husse.ro</p>
        </div>
    </div>
    <nav id="mainnav">
            <input id="toggle1" type="checkbox"/>
            <label class="hamburger1" for="toggle1">
              <div ></div>
              <div ></div>
              <div ></div>
            </label>
        
            <nav id="divhead">
                    <ul id="listameniu">
                        <li class="li_meniu">
                            <a href="/index" class="button"><i class="fas fa-home"></i><span id="span-icon-casa"> Acasă</span> 
                            </a>
                        </li>
                        <li class="li_meniu dropdown" id="produse_meniu"><a href="/produsele_noastre" class="button">
                            
                                Produsele noastre</a>
                            
                                <ul id="navmaimulte" style="list-style: none;">
                                    <div class="dropdown-content">
                                        <li>
                                            <a href="/produsele_noastre" class="butoanemeniu-c">
                                            <i class="fas fa-arrow-right butoanemeniu-c" 
                                                aria-hidden="true">
                                            </i> Toate
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/produsele_noastre?tip=metal" class="butoanemeniu-c">
                                                <i class="fas fa-arrow-right butoanemeniu-c" 
                                                    aria-hidden="true">
                                                </i> Huse din metal
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/produsele_noastre?tip=piele" class="butoanemeniu-c">
                                                <i class="fas fa-arrow-right butoanemeniu-c" 
                                                aria-hidden="true">
                                            </i> Huse din piele
                                            </a>   
                                        </li>    
                                        <li>
                                            <a href="/produsele_noastre?tip=silicon" class="butoanemeniu-c">
                                                <i class="fas fa-arrow-right butoanemeniu-c" 
                                                aria-hidden="true">
                                            </i> Huse din silicon
                                            </a>   
                                        </li>                  
                                    </div>
                                </ul>

                        </li>
                        <li class="li_meniu"><a href="/index#" class="button">Personalizează-ți husa!</a></li>
                        <li class="li_meniu dropdown">
                            <a href="javascript:void(0)" class="button dropbtn" id="butonmaimulte">Mai multe</a>
                            <ul id="navmaimulte" style="list-style: none;">
                                <div class="dropdown-content">
                                    <li>
                                        <a href="#" class="butoanemeniu-c">
                                        <i class="fas fa-arrow-right butoanemeniu-c" 
                                            aria-hidden="true">
                                        </i> Cos de cumparaturi
                                        </a>
                                    </li>
                                    <li>
                                        <a href="contact.html" class="butoanemeniu-c">
                                            <i class="fas fa-arrow-right butoanemeniu-c" 
                                                aria-hidden="true">
                                            </i> Contact
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/index#div8" class="butoanemeniu-c">
                                            <i class="fas fa-arrow-right butoanemeniu-c" 
                                            aria-hidden="true">
                                        </i> FAQ
                                        </a>   
                                    </li>                   
                                </div>
                            </ul>
                        </li>
                    </ul>
            </nav>
        </nav>